body {
    padding: 0;
    margin: 0;
    background-color: #ddd;
    color: black;
    font-family: sans-serif;
}
h1 {
    font-family: fantasy;
    font-style: italic;
    text-align: center;
    font-variant: small-caps;
    padding: 0.25em 1em;
    margin: 0;
    color: #666;
}
#page {
    margin: 0 auto;
    padding: 0em 0.5em;
    max-width: 25em;
    background-color: white;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

#up {
    background-color: #cfa;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
    margin-bottom: 2em;
}
p.hint {
    font-size: 70%;
    font-style: oblique;
}

#down {
    list-style-type: none;
    margin: 1em;
    padding: 0;
}
a {
    color: blue;
    text-decoration: underline;
}
.size {
    margin-left: 1em;
    color: #888;
    font-size: 80%;
}
.stats {
    display: block;
    margin-bottom: 1em;
    color: green;
    font-size: 80%;
}

.foot {
    margin: 3em auto 0;
    text-align: center;
    color: #aaa;
    font-size: 75%;
}
